h5{
  color: #578216;
}
h6{
  color: #578216;
}


#customTitleBerita{
  color: #fff;
}

.customTitleGreen{
  color: #578216;
}

.customTitleBlack{
  color: #212529;
}

.spaceBlog{
  margin-top: 5px;
  margin-bottom: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}


@media all and (min-width: 992px) {
	.navbar{ padding-top: 0; padding-bottom: 0; }
	.navbar .has-megamenu{position:static!important;}
	.navbar .megamenu{left:0; right:0; width:100%; padding:20px;  }
	.navbar .nav-link{ padding-top:1rem; padding-bottom:1rem;  }
}

.dropdown-menu.show {
  display: block;
}


.bts {
  padding-right: 70px;
  padding-left: 70px;
}

.section1 {
  padding-top: 36px;
  padding-bottom: 18px;
  padding-left: 90px;
  padding-right: 90px;
}

.section4 {
  padding-top: 35px;
  padding-bottom: 35px;
  padding-left: 90px;
  padding-right: 90px;
}

.section3 {
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 90px;
  padding-right: 90px;
}

.section2 {
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 90px;
  padding-right: 90px;
}

body {
  font-family: sans-serif;
}

a {
  color: #212529;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #707070;
  text-decoration: underline;
}

.btn-secondary {
  color: #fff;
  background-color: #578216;
  border-color: #578216;
  width: 260px;
  height: 62px;
  font-family: 'Nunito Sans';
  font-size: 15px;
  font-weight: 200;
  margin-top: 10px;
  margin-bottom: 5px;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #699c1b;
  border-color: #699c1b;
}

.btn-secondary.focus, .btn-secondary:focus {
  color: #fff;
  background-color: #578216;
  border-color: #578216;
  box-shadow: 0 0 0 .2rem rgb(160,191,113);
}

.btn-secondary:not(:disabled):not(.disabled).active:focus, .btn-secondary:not(:disabled):not(.disabled):active:focus, .show > .btn-secondary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgb(160,191,113);
}

.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
  color: #fff;
  background-color: #578216;
  border-color: #578216;
}

.btn.btn-primary.btn-custom2 {
  background-color: #578216;
  border-color: #ffffff;
  font-family: 'Nunito Sans';
  font-size: 15px;
  font-weight: 700;
  height: 40px;
}

.btn-primary:hover {
  color: #fff;
  background-color: #699c1b;
  border-color: #699c1b;
}

.btn-primary.focus, .btn-primary:focus {
  color: #fff;
  background-color: #578216;
  border-color: #578216;
  box-shadow: 0 0 0 .2rem rgb(160,191,113);
}

.btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #699c1b;
  border-color: #699c1b;
}

.btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show > .btn-primary.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgb(160,191,113);
}

.btn-info {
  color: #fff;
  background-color: #578216;
  border-color: #578216;
}

.btn-info:hover {
  color: #fff;
  background-color: #699c1b;
  border-color: #699c1b;
}

.btn-info.focus, .btn-info:focus {
  color: #fff;
  background-color: #578216;
  border-color: #578216;
  box-shadow: 0 0 0 .2rem rgb(160,191,113);
}

.btn-info:not(:disabled):not(.disabled).active, .btn-info:not(:disabled):not(.disabled):active, .show > .btn-info.dropdown-toggle {
  color: #fff;
  background-color: #699c1b;
  border-color: #699c1b;
}

.btn-info:not(:disabled):not(.disabled).active:focus, .btn-info:not(:disabled):not(.disabled):active:focus, .show > .btn-info.dropdown-toggle:focus {
  box-shadow: 0 0 0 .2rem rgb(160,191,113);
}

.btn-primary {
  color: #fff;
  background-color: #578216;
  border-color: #578216;
}

@media (min-width:576px) {
  .jumbotron {
    padding: 4rem 2rem;
    height: 500px;
  }
}

.pagination {
  display: -ms-flexbox;
  display: flex;
  padding-left: 0;
  list-style: none;
  border-radius: .25rem;
}

.navigation-clean-button.navbar-light .navbar-nav a.active, .navigation-clean-button.navbar-light .navbar-nav a.active:focus, .navigation-clean-button.navbar-light .navbar-nav a.active:hover {
  color: #ffffff !important;
  box-shadow: none;
  background: none;
  pointer-events: none;
  background-color: #b6d241 !important;
}

/* Dropdown menu*/
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu a::after {
  transform: rotate(-90deg);
  position: absolute;
  right: 6px;
  top: .8em;
}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 100%;
  margin-left: .1rem;
  margin-right: .1rem;
}


.page-link{
  position:relative;
  display:block;
  padding:.5rem .75rem;
  margin-left:-1px;
  line-height:1.25;
  color:#F6C352;
  background-color:#fff;
  border:1px solid #dee2e6
}
  
.page-link:hover{
  z-index:2;color:#F6C352;
  text-decoration:none;
  background-color:#e9ecef;
  border-color:#dee2e6
}

.page-link:focus{
  z-index:3;
  outline:0;
  box-shadow:0 0 0 .2rem rgba(246, 194, 82, 0.507))
}

.page-item:first-child .page-link{
  margin-left:0;
  border-top-left-radius:.25rem;
  border-bottom-left-radius:.25rem
}

.page-item:last-child .page-link{
  border-top-right-radius:.25rem;
  border-bottom-right-radius:.25rem
}

.page-item.active .page-link{
  z-index:3;
  color:#fff;
  background-color:#F6C352;
  border-color:#F6C352
}

.page-item.disabled .page-link{
  color:#6c757d;
  pointer-events:none;
  cursor:auto;
  background-color:#fff;
  border-color:#dee2e6
}

.pagination-lg .page-link{
  padding:.75rem 1.5rem;
  font-size:1.25rem;
  line-height:1.5
}

.pagination-lg .page-item:first-child .page-link{
  border-top-left-radius:.3rem;
  border-bottom-left-radius:.3rem
}

.pagination-lg .page-item:last-child .page-link{
  border-top-right-radius:.3rem;
  
  border-bottom-right-radius:.3rem
}

.pagination-sm .page-link{
  padding:.25rem .5rem;
  font-size:.875rem;
  line-height:1.5
}

.pagination-sm .page-item:first-child .page-link{
  border-top-left-radius:.2rem;
  border-bottom-left-radius:.2rem
}

.pagination-sm .page-item:last-child .page-link{
  border-top-right-radius:.2rem;
  border-bottom-right-radius:.2rem
}

.navbar-space{
  padding-top: 20px;
  padding-bottom: 20px;
}